name: CI

on:
  pull_request_target:
    # Types must be filtered to prevent getting stuck when a
    # bot with GITHUB_TOKEN pushes commits against the PR branch
    types:
      - opened
      - reopened
  pull_request:
    branches:
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2

      - name: bun install
        run: bun install

      - name: Turborepo
        run: bun run ci

      - name: Archive production artifacts
        uses: actions/upload-artifact@v5
        with:
          name: dist.zip
          path: |
            packages/chrome-extension/dist
