name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          ref: ${{github.event.pull_request.head.sha}}
          fetch-depth: 0

      - name: Setup Node.js 18
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0

      - uses: oven-sh/setup-bun@v2

      - name: Install Dependencies
        run: bun install

      - name: Run CI
        run: bun run ci

      - name: Create Release Pull Request
        uses: changesets/action@v1
        id: changesets
        with:
          version: bun run version
          publish: bun run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Zip dist
        if: steps.changesets.outputs.published == 'true'
        run: |
          cd packages/chrome-extension
          zip dist.zip -r dist

      - name: Edit release
        if: steps.changesets.outputs.published == 'true'
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: 'packages/chrome-extension/dist.zip'
          update_latest_release: true
